<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    {% if title %}
    <title>{{ title }} - Test App</title>
    {% else %}
    <title>No title- Test App</title>
    {% endif %}
</head>
<body>
    <div>Test App:
        <a href="/index">Home</a>
        {% if session.logged_in %}
        | <a href="{{ url_for('new_post') }}">Create new Post</a>
        | <a href="{{ url_for('user', email=session.email) }}">Your Profile</a>
        | <a href="{{ url_for('edit') }}">Edit your profile</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>