<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <form action="" method="post" name="forgotpass">
        {{ form.hidden_tag() }}
        <div>
            Email:<br>
            {{ form.email(size=40) }}<br>
        </div>
        {% if form.email.errors %}
        <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <p><input type="submit" value="Send Password"></p>
    </form>
{% endblock %}