<!--extend the base html-->
{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div>
            Email:<br>
            {{ form.email(size=40) }}<br>
        </div>
        {% if form.email.errors %}
        <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div>
            Password:<br>
            {{ form.password(size=40) }}<br>
        </div>
        {% if form.password.errors %}
        <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <p>{{ form.remember_me }} Remember me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
    {% if forgotpass %}
    <div class="metanav">
        <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
    </div>
    {% endif %}
    <div class="metanav">
        <a href="{{ url_for('register') }}">Create Account</a>
    </div>
{% endblock %}