<!--extend the base html-->
{% extends "base.html" %}

{% block content %}
    <h2>New Post</h2>
    <form action="" method="post" name="new_post">
        {{ form.hidden_tag() }}
        <p>
            Post:<br>
            {{ form.post_body(cols=50, rows=3) }}<br>
        </p>

        <p><input type="submit" value="Post"></p>
    </form>
{% endblock %}