<table xmlns="http://www.w3.org/1999/html">
    <tr valign="top">
        <i><a href="{{ url_for('user', email=post.author.email) }}" >{{ post.author.username }}</a> says:</i><br>
        {{ post.body }} <h6>{{ post.time }}</h6>
    </tr>
</table>