<!--extend the base html-->
{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post" name="register">
        {{ form.hidden_tag() }}
        <p>
            Email:<br>
            {{ form.email(size=40) }}<br>

        </p>
        <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        <p>
            Password:<br>
            {{ form.password(size=40) }}<br>

        </p>
        <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        <p>
            Confirm Password:<br>
            {{ form.confirm(size=40) }}<br>
        </p>
        <ul class="errors">{% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        <p>
            Username:<br>
            {{ form.username(size=40) }}<br>

        </p>
        <ul class="errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        <p>
            About Yourself:<br>
            {{ form.about_me(cols=32, rows=4) }}<br>

        </p>

        <p><input type="submit" value="Register"></p>
    </form>
{% endblock %}