<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <table>
      <tr valign="top">
          <td>
              <h1>User: {{ user.username }}</h1>
              {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
          </td>
      </tr>
  </table>
  <hr>
  {% for post in posts %}
      {% include 'post.html' %}
    <br>
  {% endfor %}
{% endblock %}